@import "https://fonts.googleapis.com/css?family=Mulish:400,500&display=fallback";

.gift-button-abbchhh-hgg {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px 15px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: "Assistant", sans-serif;
}
